@tailwind base;
@tailwind components;
@tailwind utilities;

root {
  --hola: #198ff5;
  --hola: #1ca0f2;
  --hola: #fdc468;
  --hola: #df4996;
  --hola: #c4032a;

  --hola: #f5f7ff;
  --hola: #f0f2fa;
  --hola: #63687e;
  --hola: #1e202a;
  --hola: #1db489;
}
