@tailwind base;
@tailwind components;
@tailwind utilities;

root {
  --hola: #198ff5;
  --hola: #1ca0f2;
  --hola: #fdc468;
  --hola: #df4996;
  --hola: #c4032a;

  --hola: #f5f7ff;
  --hola: #e2e4ec;
  --hola: #63687e;
  --hola: #1e202a;
  --hola: #1db489;
  --hola: #dc414c;
  --hola: #aeb3cb;

  /* dark mode */
  --hola: #1c1e26; /* bg */
  --hola: #242635; /* bg */
  --hola: #8b97c6; /* bg */
  --hola: #252a41; /* bg */
  --hola: #363e5f; /* bg */
  --from: #378fe6; /* bg */
  --to: #3eda82; /* bg */
}
